@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-image: url('/images/rupee.jpg');
  background-repeat: repeat;
  max-width: 600px;
  margin: auto;
}

/* .container-center {
  max-width: 600px;
  margin: auto;
} */

#check-btn {
  background-color: green;
  color: white;
  margin-top: 10px;
  padding: 10px;
  font-weight: 700;
  font-size: 16px;

}

.input-value {
  padding: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.container {
  display: flex;
  flex-direction: column;
}

#error-message {
  padding: 10px;
  color: red;
}

.notes-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 40px;
}

.notes-table th, td{
  border: 1px solid #2b2a2ae1;
}

.footer-section ul{  
  padding: 10px;
  background-color: green;
}

.link {
  text-decoration: none;
  box-sizing: border-box;
  color: white;
}

.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 10px 10px;
}